.logo-light {
    height: 27px;
    position: relative;
    width: 129px;
}

.logo-light .bright-web {
    color: transparent;
    font-family: "Nunito Sans-ExtraBold", Helvetica;
    font-size: 20px;
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    width: 121px;
}

.logo-light .date-text-wrapper {
    color: #4880ff;
}

.logo-light .span {
    color: #202224;
}

:root {
    --grey-1-color: rgba(184, 184, 184, 1);
    --grey-2-color: rgba(134, 134, 134, 1);
    --primary-color: rgba(0, 147, 121, 1);
    --secondary-color: rgba(1, 109, 90, 1);
    --white-color: rgba(255, 255, 255, 1);
}