.stage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stage-container.blank {
    filter: brightness(0) invert(1);
}

.stage-with-lines {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.right-side-line, .left-side-line {
    flex-grow: 1;
    height: 3.6px; /* 4px * 0.9 */
    align-content: center;
}

.right-side-line {
    margin-left: 5.4px; /* 6px * 0.9 */
}

.left-side-line {
    margin-right: 5.4px; /* 6px * 0.9 */
}

.stage {
    border-radius: 50%;
    width: 45px; /* 50px * 0.9 */
    height: 45px; /* 50px * 0.9 */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.stage-title {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14.4px; /* 16px * 0.9 */
    text-align: center;
    width: fit-content;
    color: #202224;
}

.stage-icon {
    font-size: 21.6px; /* 24px * 0.9 */
    color: white;
}

.time-wrapper {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14.4px; /* 16px * 0.9 */
    color: #FFFFFF;
}
