.run-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: inherit;
}

.run-info-wrapper {
    height: 45px; /* 50px * 0.9 */
    background-color: #FFFFFF;
    border-bottom: #D5D5D5;
    border-bottom-width: 0.54px; /* 0.6px * 0.9 */
    border-bottom-style: solid;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.pipeline-wrapper {
    height: 90px; /* 100px * 0.9 */
    background-color: #FFFFFF; /* Для демонстрации, можно удалить */
    display: flex;
    align-items: center;
    padding-left: 134px; /* 149px * 0.9 */
    padding-right: 134px; /* 149px * 0.9 */
    justify-content: center;
    border-bottom: 0.54px solid #D5D5D5; /* 0.6px * 0.9 */
    transition: max-height 0.3s ease;
    /*border-bottom-left-radius: inherit; */
    /*border-bottom-right-radius: inherit;*/
}

.pipeline-hidden {
    max-height: 0;
    overflow: hidden;
}
