/* Глобальные стили */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.app-container {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

/* Сайдбар */
.sidebar {
    width: 250px;
    min-height: 100vh;
    background-color: #ffffff;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

/* Основной контент */
.main-content {
    flex-grow: 1;
    background-color: #f2f2f2;
    overflow-y: auto;
}

/* Пункты меню */
.nav-item {
    width: 100%;
}

.nav-link {
    padding: 0.75rem 1rem;
    border: none;
    color: #333;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* исправлено */
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
    gap: 0.5rem;
}

.nav-link:hover {
    background-color: #4B90E2;
    color: #ffffff;
}

/* Заголовок Runs */
.runs-title {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 1rem;
}

/* Хэдер */
.header {
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.search-input {
    border-radius: 20px;
    border: 1px solid #e9ecef;
    padding: 0.5rem 1rem;
    width: 100%;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
